@page
@model VGLog.Pages.Account.LoginModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Login";
}

<link rel="stylesheet" href="/app.css" />
<link rel="stylesheet" href="/css/login.css" />

<div class="page-container">

    <h1 class="page-title">Login</h1>

    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <div class="error-msg">
            @Model.ErrorMessage
        </div>
    }

    <form method="post" class="form-container">

        <div class="form-group">

            <label asp-for="Input.Email"></label>

            <input asp-for="Input.Email"
                   class="form-input"
                   placeholder="Email" />

            <span asp-validation-for="Input.Email"></span>

        </div>


        <div class="form-group">

            <label asp-for="Input.Password"></label>

            <input asp-for="Input.Password"
                   type="password"
                   class="form-input"
                   placeholder="Password" />

            <span asp-validation-for="Input.Password"></span>

        </div>


        <div class="form-group remember">

            <input asp-for="Input.RememberMe" />
            <label asp-for="Input.RememberMe">Remember me</label>

        </div>


        <div class="form-actions">

            <button type="submit" class="btn-primary">
                <span class="material-icons">login</span>
                Login
            </button>

            <a href="/Account/Register" class="btn-outline">
                <span class="material-icons">person_add</span>
                Register
            </a>

        </div>

    </form>

</div>