@page "/account/register"

@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Routing
@using Radzen
@using Radzen.Blazor
@using VGLog.Models
@using VGLog.Models.ViewModels
@using VGLog.Services.Interfaces
@using Microsoft.AspNetCore.RateLimiting

@inject HttpClient Http
@inject NavigationManager Navigation
@inject IAccountService AccountService
@inject NotificationService NotificationService


<h3>Register</h3>

<RadzenTemplateForm TItem="RegisterViewModel" Data="model" Submit="HandleRegister" FormName="RegisterForm">

    <div>
        <label for="email" class="form-label">Email</label>
        <RadzenTextArea @bind-Value="model.Email" class="form-control input-text" id="Email" Name="Email" />
            <RadzenRequiredValidator Component="Email" Text="Email is required" />
    </div>

    <div>
        <label for="DisplayName" class="form-label">Display name</label>
        <RadzenTextArea @bind-Value="model.DisplayName" class="form-control input-text" id="DisplayName" Name="DisplayName" Style="height: 1rem" />
        <RadzenRequiredValidator Component="DisplayName" Text="Display name is required" />
    </div>

    <div>
        <label for="Password" class="form-label">Password</label>
        <RadzenPassword type="password" @bind-Value="model.Password" class="form-control input-text" id="Password" Name="Password" />
        <RadzenRequiredValidator Component="Password" Text="Password is required" />
    </div>

    <div>
        <label for="ConfirmPassword" class="form-label">Confirm password</label>
        <RadzenPassword type="password" @bind-Value="model.ConfirmPassword" class="form-control input-text" id="ConfirmPassword" Name="ConfirmPassword" />
        <RadzenRequiredValidator Component="ConfirmPassword" Text=" Confirm password is required" />
    </div>

    <div style="display:flex; gap: 16px; margin-top:12px; align-items: center">

        <RadzenButton ButtonType="ButtonType.Submit"
                      Text="Register"
                      Icon="person_add"
                      Style="background:#7c5cfc; border:none; padding: 0.6rem 1.5rem; border-radius: 8px; height:38px;" />

        <NavLink href="/account/login"
                 style="background:transparent; border: 1px solid #7c5cfc; color:#7c5cfc; padding: 0.6rem 1.5rem; border-radius: 8px; height:38px; box-sizing:border-box; text-decoration:none; display:inline-flex; align-items:center; gap:4px; font-size:0.875rem; font-weight:500;">
            <RadzenIcon Icon="login" />
            Login
        </NavLink>

    </div>

</RadzenTemplateForm>

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger mt-3">@errorMessage</div>
}

@code {

    [SupplyParameterFromForm]
    private RegisterViewModel model { get; set; } = new RegisterViewModel();

    private string errorMessage = "";

    private async Task HandleRegister()
    {
        try
        {

            if (model.Password == null)
            {
                NotificationService.Notify(NotificationSeverity.Error, "Error: ", "Password cannot be null.");
                return;
            }

            if (model.Password != model.ConfirmPassword)
            {
                NotificationService.Notify(NotificationSeverity.Error, "Error: ", "Passwords do not match.");
                return;
            }

            var response = await AccountService.RegisterAsync(model);

            if (response.Succeeded)
            {
                Navigation.NavigateTo("/account/login", true);
            }
            else
            {
                errorMessage = string.Join(", ", response.Errors.Select(e => e.Description));
            }
        }
        catch
        {
            NotificationService.Notify(NotificationSeverity.Error, "Error: ", "Registration failed. Try again later.");
                return;
        }
    }
}
