@page "/account/register"

@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Routing
@using Radzen
@using Radzen.Blazor
@using VGLog.Models
@using VGLog.Models.ViewModels
@using VGLog.Services.Interfaces

@inject HttpClient Http
@inject NavigationManager Navigation
@inject IAccountService AccountService


<h3>Register</h3>

<EditForm Model="@model" OnValidSubmit="HandleRegister" FormName="RegisterForm">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label for="email" class="form-label">Email</label>
        <InputText @bind-Value="model.Email" class="form-control input-text" id="Email" />
    </div>

    <div>
        <label for="DisplayName" class="form-label">Display name</label>
        <InputText @bind-Value="model.DisplayName" class="form-control input-text" id="DisplayName" />
    </div>

    <div>
        <label for="Password" class="form-label">Password</label>
        <InputText type="password" @bind-Value="model.Password" class="form-control input-text" id="Password" />
    </div>

    <div>
        <label for="ConfirmPassword" class="form-label">Confirm password</label>
        <InputText type="password" @bind-Value="model.ConfirmPassword" class="form-control input-text" id="ConfirmPassword" />
    </div>

    <div style="display:flex; gap: 16px; margin-top:12px; align-items: center">

        <RadzenButton ButtonType="ButtonType.Submit"
                      Text="Register"
                      Icon="person_add"
                      Style="background:#7c5cfc; border:none; padding: 0.6rem 1.5rem; border-radius: 8px; height:38px;" />

        <NavLink href="/account/login"
                 style="background:transparent; border: 1px solid #7c5cfc; color:#7c5cfc; padding: 0.6rem 1.5rem; border-radius: 8px; height:38px; box-sizing:border-box; text-decoration:none; display:inline-flex; align-items:center; gap:4px; font-size:0.875rem; font-weight:500;">
            <RadzenIcon Icon="login" />
            Login
        </NavLink>

    </div>

</EditForm>

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger mt-3">@errorMessage</div>
}

@code {

    [SupplyParameterFromForm]
    private RegisterViewModel model { get; set; } = new RegisterViewModel();

    private string errorMessage = "";

    private async Task HandleRegister()
    {
        var response = await AccountService.RegisterAsync(model);

        if (response.Succeeded)
        {
            Navigation.NavigateTo("/account/login", true);
        }
        else
        {
            errorMessage = "User registration failed.";
        }
    }
}
