@using VGLog.Models
@using VGLog.Services
@using VGLog.Services.DTOs
@inject DialogService DialogService
@inject VideogameService VideogameService

<RadzenTemplateForm TItem="UpdateUserGameDto" data="@EditDto" Submit="@OnSubmit">
    <div class="p-3">
        <RadzenLabel Text="Hours played" />
        <RadzenNumeric @bind-Value="EditDto.HoursPlayed"
        Style="width:100%" />

        <RadzenLabel Text="Notes" />
        <InputText @bind-Value="EditDto.Notes"
        Style="width:100%" />

        <RadzenLabel Text="Rating" />
        <RadzenNumeric @bind-Value="EditDto.PersonalRating" Min="1" Max="10"
        Style="width:100%" />
        <div class="mt-3"
        >
            <RadzenButton Text="Cancel"
            Click="@Close"
            ButtonStyle="ButtonStyle.Secondary" />

            <RadzenButton Text="Save"
            ButtonType="ButtonType.Submit"
            Style="margin-right:10px" />

        </div>
    </div>
</RadzenTemplateForm>


@code {
    [Parameter]
    public UserGame UserGame { get; set; }

    private UpdateUserGameDto EditDto { get; set; }

    protected override void OnInitialized()
    {
        EditDto = new UpdateUserGameDto
            {
                Id = UserGame.Id,
                HoursPlayed = UserGame.HoursPlayed,
                Notes = UserGame.Notes,
                PersonalRating = UserGame.PersonalRating,
                GameStatus = UserGame.GameStatus
            };
    }
    private async Task OnSubmit(UpdateUserGameDto dto)
    {
        await VideogameService.EditUserGameAsync(dto);

        DialogService.Close(true);
    }

    private void Close()
    {
        DialogService.Close(false);
    }
}
