.stats-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.stat-header {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 0.4rem;

}

.stat-value {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.8rem;
    font-weight: 400;
    color: #9c9487;
}

.text-yellow {
    color: #b39600;
}

.text-purple {
    color: mediumpurple !important;
}