@page "/account/register"

@using Microsoft.AspNetCore.Components.Forms
@using VGLog.Models
@using VGLog.Services.Interfaces

@inject HttpClient Http
@inject NavigationManager Navigation
@inject IAccountService AccountService


<h3>Register</h3>

<EditForm Model="@model" OnValidSubmit="HandleRegister" FormName="RegisterForm">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label for="email" class="form-label">Email</label>
        <InputText @bind-Value="model.Email" class="form-control" id="Email" />
    </div>

    <div>
        <label for="DisplayName" class="form-label">Display name</label>
        <InputText @bind-Value="model.DisplayName" class="form-control" id="DisplayName" />
    </div>

    <div>
        <label for="Password" class="form-label">Password</label>
        <InputText type="password" @bind-Value="model.Password" class="form-control" id="Password" />
    </div>

    <div>
        <label for="ConfirmPassword" class="form-label">Confirm password</label>
        <InputText type="password" @bind-Value="model.ConfirmPassword" class="form-control" id="ConfirmPassword" />
    </div>

    <button type="submit">Register</button>

</EditForm>

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger mt-3">@errorMessage</div>
}

@code {

    [SupplyParameterFromForm]
    private RegisterViewModel model { get; set; } = new RegisterViewModel();

    private string errorMessage = "";

    private async Task HandleRegister()
    {
        var response = await AccountService.RegisterAsync(model);

        if (response.Succeeded)
        {
            Navigation.NavigateTo("/account/login", true);
        }
        else
        {
            errorMessage = "Registrazione fallita. Email non unica o password non combaciante";
        }
    }
}
